$logoWidth: 60%;
$logoColor: #fff;
$formRowLeft: 50%;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgba(82, 123, 199, 1);
}

.centerAndCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  height: 560px;
  width: 65%;
  max-width: 1400px;
  border-radius: 10px;

  background-color: transparent;
}

/* left */
.logo {
  float: left;
  width: $logoWidth;
  height: 100%;
  text-align: left;
  padding: 70px 25px 20px 25px;
  position: relative;
  background-color: transparent;
}

.logo > .systemLogo,
.logo > .systemChin,
.logo > .systemEng,
.logo > .companyInfo {
  color: $logoColor;
  text-align: left;
}

.logo > .systemChin,
.logo > .systemEng,
.logo > .companyInfo {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.1px;
  width: 100%;
  display: block;
}

.logo span {
  display: inline-block;
  // width: 63%;
  width: 388px;
  height: 100%;
  // border: 1px solid blue;
  vertical-align: top;
  font-size: 69px;
}

.logo span::before {
  content: '';
  display: block;
  width: 0;
  height: 0%;
  // vertical-align: middle;
}

.logo .systemLogo {
  width: 100%;
  display: inline-block;
  height: 21%;
  text-decoration: none;
  // margin: 15px 0;
  // padding-top: 30px;
  // border: 1px solid red;

  $mTERRACEPMOTemplateColor: #ffdc5a;
  $mTERRACEPMOWidth: 200px;
  $mTERRACEPMOHeight: 100px;
  .mTERRACEPMOContainer {
    display: inline-block;
    width: 36%;
    height: 100%;
    // border: 1px solid red;

    .mTERRACEPMO {
      width: $mTERRACEPMOWidth;
      height: $mTERRACEPMOHeight;
      line-height: $mTERRACEPMOHeight;
      background-color: $mTERRACEPMOTemplateColor;
      border: 1px solid $mTERRACEPMOTemplateColor;
      display: inline-block;
      position: relative;
      font-size: 65px;
      font-weight: 800;
      letter-spacing: 1.2px;
      padding-left: 15px;
      padding-right: 25px;
      color: #434343;

      &::before,
      &::after {
        content: '';
      }

      &::before {
        position: absolute;
        top: -1px;
        right: -21px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 100px 20px 0 0;
        border-color: $mTERRACEPMOTemplateColor transparent transparent
          transparent;
      }

      &::after {
        position: absolute;
        top: -1px;
        left: -21px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 100px 20px;
        border-color: transparent transparent $mTERRACEPMOTemplateColor
          transparent;
      }
    }
  }
}

.logo .systemChin {
  height: 12%;

  // border: 1px solid red;
  padding-top: 25px;
}
.logo .systemEng {
  height: 30%;
  // border: 1px solid red;
}
.logo .companyInfo {
}

// .logo .systemChin:before,
.logo .companyInfo:before {
  display: inline-block;
  content: '';
  width: 0;
  height: 100%;
  position: relative;
  vertical-align: middle;
}

/* right */
.content {
  background-color: #fff;
  float: left;
  width: 100% - $logoWidth;
  height: 100%;
  padding: 60px 60px;
  box-shadow: 0px 0px 21px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.loginForm h2 {
  margin: 20px auto 90px;
  text-align: left;
  font-size: 33px;
  color: #666;
}

.formRow {
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.formRow label {
  float: left;
  width: $formRowLeft;
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
}
.formRowLabelHeight {
  height: 22px;
  line-height: 22px;
  font-size: 10px;
  width: 100%;
  display: block;
  font-size: 16px;
  text-align: right;
  text-decoration: none;
  margin-bottom: 10px;
  color: #666;
  cursor: pointer;
}

.formRow input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
  color: #333;
  transition: outline 0.3s ease-in-out;
}

.formRow input::placeholder,
.formRow input::-moz-placeholder,
.formRow input::-webkit-placeholder {
  color: #d4d9de;
  opacity: 0.5;
}

.formRow .inputIcon {
  height: 50px;
  line-height: 50px;
  width: 40px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.loginForm button[type='submit'],
.loginForm button[type='button'] {
  margin-top: 25px;
  width: 100%;
  padding: 15px 0;
  color: #666;
  border: 0;
  font-size: 16px;
  letter-spacing: 5px;
  border-radius: 5px;
  border: 1px solid #b7b7b7;
}

.bgcStyle {
  background-color: #eee;
  border: 1px solid #b7b7b7;
  transition: background-color 0.3s ease-in-out;
}

.bgcStyle:hover {
  background-color: rgb(214, 214, 214);
}

@media only screen and (min-width: 1451px) {
  // .logo .systemChin {
  //   font-size: 22px;
  // }
  // .logo .systemEng {
  //   font-size: 18px;
  // }
  // .logo .companyInfo {
  //   font-size: 16px;
  // }
  // .loginForm h2 {
  //   font-size: 33px;
  // }
  .formRow label {
    font-size: 16px;
  }
  .formRow input {
    font-size: 15px;
  }
  .loginForm button[type='submit'],
  .loginForm button[type='button'] {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1450px) {
  .logo .systemChin {
    height: auto;
  }

  .formRow label {
    font-size: 13px;
  }
  .formRow input {
    font-size: 12px;
  }
  .loginForm button[type='submit'],
  .loginForm button[type='button'] {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1023px) {
  .systemLogo span:before {
    height: 22%;
  }
  .logo > .systemChin,
  .logo > .systemEng,
  .logo > .companyInfo {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.1px;
  }

  .loginForm {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    border-radius: 0px;
  }

  .loginForm {
    height: 100%;
    width: 100%;
    /* min-width: 360px; */
    position: relative;
    margin: 0;
  }

  .logo {
    height: 50px;
    width: 100%;
    padding: 0;
    background-image: none;
    background-color: #fff;
    position: static;
  }

  .loginForm h2 {
    text-align: center;
  }

  .logo .systemLogo .mTERRACEPMOContainer .mTERRACEPMO {
    width: 55%;
    height: 100%;
    // border: 1px solid red;
    // padding: 0;
    font-size: 14px;
    line-height: 46px;

    &::before {
      border-width: 50px 20px 0 0;
    }

    &::after {
      border-width: 0 0 50px 20px;
    }
  }

  .systemLogo span {
    color: #666;
    font-size: 14px;
    padding-left: 20px;
    width: 30%;
  }

  .systemLogo span::before {
    height: 30%;
  }

  .logo .systemLogo {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
  }

  .logo .systemChin {
    float: right;
    width: 50%;
    height: 100%;
    line-height: 50px;
    text-align: right;
    padding-right: 4%;
    font-size: 14px;
    color: #666;
    padding: 0;
    padding-right: 20px;
  }
  .logo .systemEng {
    display: none;
  }
  .logo .companyInfo {
    position: absolute;
    bottom: 10px;
    left: 0;
  }

  .content {
    width: 100%;
    background-color: #f5f9fd;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media only screen and (max-width: 576px) {
  .systemLogo span {
    width: 56%;
  }
  .logo .systemLogo .mTERRACEPMOContainer .mTERRACEPMO {
    padding: 0px;
  }
}
