.meetingOpen {
  box-sizing: border-box;
  display: block;
  width: 100%;
  // max-width: 1200px;
  height: 100%;
  min-height: 20vh;

  > * {
    box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .meetingOpenLeft {
    display: inline-block;
    width: 70%;
    padding: 5px;
  }
  .meetingOpenRight {
    display: inline-block;
    width: 29.8%;
    overflow: scroll;
    padding: 5px;
    padding-left: 10px;
    overflow-x: hidden;
  }
  .meetingOpenFooter {
    margin-top: 10px;
    display: block;
    padding: 10px;
  }
}

@media only screen and (max-width: 1685px) {
  // @media only screen and (max-width: 992px) {
  .meetingOpen {
    .meetingOpenLeft {
      display: block;
      width: 100%;
    }
    .meetingOpenRight {
      display: block;
      width: 100%;
    }
  }
}

